﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CST-247 </h1>
    <p class="lead">Benchmark Application by John Harrison</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New Bible Verse</h2>
        <p>
            Add a new Bible Verse to your bible
        </p>
        @Html.ActionLink("Add New Bible Verse","AddBibleVerse","Home",new { @class="btn btn-default"})
    </div>
    <div class="col-md-4">
        <h2>View All</h2>
        <p> View all of your bible verses you have entered.</p>
        @Html.ActionLink("View All Bible Verses", "ViewBibleVerses", "Home",new { @class="btn btn-default"})
    </div>
    <div class="col-md-4">
        <h2>Search</h2>
        <p>Search for a specific bible verse here.</p>
        @Html.ActionLink("Search", "Search", "Home",new { @class="btn btn-default"})
    </div>
</div>