﻿@model Benchmark.Models.VerseModel

@{
    ViewBag.Title = "Search Fail";
}

<h2>Search Fail</h2>
<p>Bible verse not found.</p>
<br/>
<p>
    @Html.ActionLink("New Search", "Search")
</p>
<p>
    @Html.ActionLink("Add New Verse", "AddBibleVerse")
</p>
<p>
    @Html.ActionLink("View All Bible Verses", "ViewBibleVerses")
</p>
<p>
    @Html.ActionLink("Home", "Index")
</p>


