﻿@model IEnumerable<Benchmark.Models.VerseModel>

@{
    ViewBag.Title = "View Bible Verses";
}

<h2>View Bible Verses</h2>

<p>
    @Html.ActionLink("Add New", "AddBibleVerse")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Testament)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chapter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VerseNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VerseText)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Testament)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chapter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VerseNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VerseText)
        </td>
    </tr>
}

</table>
